@import url(https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-account:before {
  content: "\e900";
  font-size: 1.375rem;
  color: #4640DE;
}

._icon-found:before {
  content: "\e901";
}

._icon-filter:before {
  content: "\e902";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #3E434F;
  line-height: 1;
  font-family: "Roboto";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 83.125rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 2.8125rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.spoller__item {
  color: #081531;
  display: -ms-grid;
  display: grid;
  row-gap: 0.5rem;
}

.spoller__item:not(:last-child) {
  border-bottom: 1px solid #EAEAEA;
}

.spoller__text {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.1666666667;
}

.spoller__mail {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.1666666667;
  padding-bottom: 1.25rem;
}

.spoller__favourite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
  padding-top: 0.9375rem;
}

.spoller__list {
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.2;
  padding-bottom: 1.375rem;
}

.spoller__number {
  color: #4640DE;
  font-weight: 600;
  font-size: 0.9375rem;
  line-height: 1.2;
}

.spoller__logout {
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: -0.03em;
  color: #4640DE;
  margin: 0.625rem auto;
}

.card {
  display: -ms-grid;
  display: grid;
  height: 100%;
  -ms-grid-rows: auto 1fr;
  grid-template-rows: auto 1fr;
  -webkit-box-shadow: 0px 4px 18px #E5E5E5;
          box-shadow: 0px 4px 18px #E5E5E5;
  background: #FFFFFF;
  border-radius: 3px;
  -webkit-transition: -webkit-box-shadow 0.3s ease 0s;
  transition: -webkit-box-shadow 0.3s ease 0s;
  -o-transition: box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
}

.card__img img {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 3px;
}

.content {
  padding: 2rem 1.5625rem 1.3125rem 1.5625rem;
}

@supports (padding-left: clamp( 0.625rem , 0.3522727273rem  +  1.3636363636vw , 1.5625rem )) {
  .content {
    padding-left: clamp( 0.625rem , 0.3522727273rem  +  1.3636363636vw , 1.5625rem );
  }
}

@supports not (padding-left: clamp( 0.625rem , 0.3522727273rem  +  1.3636363636vw , 1.5625rem )) {
  .content {
    padding-left: calc(0.625rem + 0.9375 * (100vw - 20rem) / 68.75);
  }
}

@supports (padding-right: clamp( 0.625rem , 0.3522727273rem  +  1.3636363636vw , 1.5625rem )) {
  .content {
    padding-right: clamp( 0.625rem , 0.3522727273rem  +  1.3636363636vw , 1.5625rem );
  }
}

@supports not (padding-right: clamp( 0.625rem , 0.3522727273rem  +  1.3636363636vw , 1.5625rem )) {
  .content {
    padding-right: calc(0.625rem + 0.9375 * (100vw - 20rem) / 68.75);
  }
}

.content__title {
  color: #081531;
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 1.1818181818;
  padding-bottom: 0.625rem;
}

.content__text {
  font-weight: 400;
  line-height: 1.5555555556;
  padding-bottom: 1.75rem;
}

.content__progressbar {
  position: relative;
  width: 100%;
  height: 0.5rem;
  background-color: #D2D2D2;
  border-radius: 0.625rem;
  margin-bottom: 1.25rem;
}

.content__bar {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 0.5rem;
  background-color: #4640DE;
  border-radius: 0.625rem;
}

.company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1.5625rem;
}

.company__img {
  margin-right: 0.8125rem;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.13);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.13);
  border-radius: 50%;
}

.company__title {
  color: #081531;
  font-size: 1rem;
  line-height: 1.1875;
}

.company__city {
  font-size: 0.8125rem;
  line-height: 1.2307692308;
  color: #969696;
}

.money {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2.75rem;
}

.money__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.money__title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.3571428571;
  color: #969696;
}

.money__item {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #081531;
  font-weight: 600;
  font-size: 1.625rem;
  line-height: 1.3846153846;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 2;
}

.header__top {
  -webkit-box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.08);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.0625rem;
  padding-top: 0.8125rem;
  padding-bottom: 0.8125rem;
}

.header__logo {
  padding-right: 6.25rem;
  z-index: 5;
}

.sub-menu-open .header__submenu {
  display: block;
  left: 0;
  z-index: 6;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.menu__body-list {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 1.25rem;
}

.menu__item {
  color: #081531;
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.2;
  -webkit-transition: -webkit-text-decoration 0.3s ease 0s;
  transition: -webkit-text-decoration 0.3s ease 0s;
  -o-transition: text-decoration 0.3s ease 0s;
  transition: text-decoration 0.3s ease 0s;
  transition: text-decoration 0.3s ease 0s, -webkit-text-decoration 0.3s ease 0s;
}

.menu__item:not(:last-child) {
  margin-right: 2.5rem;
}

.menu__user {
  position: relative;
}

.menu__body {
  display: none;
}

.user {
  z-index: 5;
}

.user__spoller {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user__title {
  width: 3.25rem;
  height: 3.25rem;
  background-color: #E1E6FF;
  border-radius: 50%;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.user__items {
  position: absolute;
  z-index: 2;
  top: 100%;
  left: -450%;
  margin: 0.3125rem 0px 0px 0px;
  border-radius: 0.625rem;
  background-color: #fff;
  padding: 1.0625rem 1.5625rem;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  min-width: 17.25rem;
}

.user__items li:not(:last-child) {
  margin-bottom: 0.4444444444em;
}

.filtration__container {
  position: relative;
  margin-top: 1.25rem;
  padding: 1.25rem 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 3.125rem;
     -moz-column-gap: 3.125rem;
          column-gap: 3.125rem;
  row-gap: 1rem;
}

.filtration__container::before {
  content: "";
  display: block;
  position: absolute;
  border-bottom: #EAEAEA solid 1px;
  width: 100%;
  right: 0rem;
  top: 0;
}

.filtration__container::after {
  content: "";
  display: block;
  position: absolute;
  border-bottom: #EAEAEA solid 1px;
  width: 100%;
  right: 0;
  bottom: 0;
}

.screening {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}

.screening__filter-button {
  display: inline-block;
  padding: 0px 0px;
  background: #4640DE;
  border-radius: 4px;
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  padding: 0.625rem 1.375rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  gap: 0.75rem;
}

.screening__filter-button::before {
  content: "\e902";
  width: 15px;
  height: 13px;
}

.search {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.search__header {
  width: 28.4375rem;
  background-color: #F1F1F1;
  border-radius: 0.25rem;
  position: relative;
}

.search__input {
  width: 100%;
  background-color: #F1F1F1;
  border-radius: 0.25rem;
  height: 2.5rem;
  padding: 0px 28px 0px 12px;
}

.search__input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.search__input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.search__input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.search__input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.search__input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.search__input:hover {
  background: #EAEAEA;
}

.search__input:focus {
  background: #FFFFFF;
  border: 1px solid #646464;
  border-radius: 4px;
}

.search__button {
  position: absolute;
  background-color: transparent;
  height: 1rem;
  width: 1rem;
  font-size: 1rem;
  color: #AAAAAA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0.75rem;
  right: 0.9375rem;
}

.menu-filtration__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.6875rem;
}

.menu-filtration__item {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.1875;
  letter-spacing: -0.03em;
  color: #646464;
}

.menu-filtration__link {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu-filtration__active {
  color: #4640DE;
}

.filters {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 6.875rem;
          flex: 0 1 6.875rem;
  position: absolute;
  z-index: 10;
  right: 0;
}

.filters__container {
  position: relative;
  min-height: 18.75rem;
}

.filters__block {
  display: none;
}

.filters__block._sub-menu-open {
  display: -ms-grid;
  display: grid;
  padding: 1.5625rem 1.5625rem;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 0;
  right: 2.8125rem;
  left: 2.8125rem;
  overflow: auto;
  height: 100%;
  scroll-behavior: smooth;
}

.filters__menu-filtration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 1.6875rem;
}

.filters__title {
  padding-bottom: 1.0625rem;
  color: #081531;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.1666666667;
  letter-spacing: -0.03em;
}

.filters__category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.filters__button {
  display: block;
  background: #4640DE;
  border-radius: 4px;
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  padding: 0.625rem 2.8125rem;
  margin-top: 2.25rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: end;
      justify-self: end;
}

.spollers-filters {
  display: none;
}

.spollers-filters__title {
  height: 2.5rem;
  width: 100%;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.03em;
  color: #3E434F;
}

.spollers-filters__body {
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.14);
  border-radius: 3px;
}

.spollers-filters__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0.875rem;
  margin-bottom: 0.875rem;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.spollers-filters__list:last-child {
  margin-bottom: 0rem;
  padding-bottom: 0.625rem;
}

.spollers-filters__list span {
  color: #4640DE;
  font-weight: 500;
}

.checkbox__input {
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

.checkbox__input:checked + label {
  border: 1px solid #4640DE;
  border-radius: 4px;
  -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.16);
}

.checkbox__label {
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
}

.checkbox__label:hover {
  border: 1px solid #c8c4c4;
  border-radius: 4px;
}

.checkbox__text {
  display: inline-block;
  cursor: pointer;
  padding: 0.9375rem 1.125rem;
  border: 1px solid #E5E5E5;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.checkbox__icon {
  height: 1rem;
  width: 0.875rem;
  margin-right: 0.25rem;
}

.icon-menu {
  display: none;
}

.body-menu__items {
  padding-bottom: 0.625rem;
}

.page__container {
  padding-top: 12.5rem;
  padding-bottom: 3rem;
}

.page__cards {
  display: -ms-grid;
  display: grid;
  gap: 1.875rem;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 72.8125em) {
  .page__cards {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 61.99875em) {
  .header__container {
    height: 2.5rem;
  }

  .menu__body {
    display: block;
    padding-top: 6.25rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: -100%;
    overflow: auto;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
    z-index: 4;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }

  .menu-open .menu__body {
    left: 0;
  }
}

@media (max-width: 54.375em) {
  .menu__item:not(:last-child) {
    margin-right: 1.25rem;
  }
}

@media (max-width: 53.4375em) {
  .header__logo {
    padding-right: 3.125rem;
  }
}

@media (max-width: 47.99875em) {
  .header__container {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }

  .menu {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .menu__body-list {
    display: none;
  }

  .user__title {
    display: none;
  }

  .filtration__container::before {
    display: none;
  }

  .filtration__container::after {
    display: none;
  }

  .filtration__container {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }

  .screening {
    width: 100%;
  }

  .search__header {
    width: 100%;
  }

  .filters__container {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }

  .filters__block._sub-menu-open {
    right: 1.25rem;
    left: 1.25rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #969696;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .page__container {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }

  .page__cards {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 31.875em) {
  .search__input {
    padding-right: 6.875rem;
  }
}

@media (max-width: 29.99875em) {
  .money {
    gap: 0.875rem;
  }

  .menu-filtration {
    display: none;
  }

  .menu-filtration__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .menu-filtration__item {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .filters__block._sub-menu-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0.3125rem;
  }

  .filters__title {
    display: none;
  }

  .filters__category :nth-child(n+4) {
    display: none;
  }

  .filters__button {
    margin-top: 1rem;
  }

  .spollers-filters {
    display: block;
    border: 1px solid #D8D8D8;
    border-radius: 4px;
  }

  .checkbox__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }

  .checkbox__icon {
    display: none;
  }
}

@media (any-hover: hover) {
  .spoller__mail:hover {
    text-decoration: underline;
  }

  .spoller__logout:hover {
    color: #0A00FF;
    font-weight: 500;
  }

  .card:hover {
    -webkit-box-shadow: 0px 3px 19px rgba(0, 0, 0, 0.21);
            box-shadow: 0px 3px 19px rgba(0, 0, 0, 0.21);
  }

  .menu__item:hover {
    text-decoration: underline;
  }

  .user__title:hover {
    background-color: #B0BCFF;
  }

  .screening__filter-button {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .screening__filter-button:hover {
    background: #6C66FF;
  }

  .screening__filter-button:active {
    background: #2D26D6;
  }

  .menu-filtration__link:hover {
    text-decoration: underline;
  }

  .filters__button {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .filters__button:hover {
    background: #6C66FF;
  }

  .filters__button:active {
    background: #2D26D6;
  }
}